<h1>Get Temperature</h1>
<p> For demo purpose, currently supporting  only 'IN' (India) & 'US' (USA) countries </p>
<%= form_tag(get_temperature_path, remote: true, method: :get, data: { type: :json, contentType: :json }) do %>
  <label for="zipcode">Zip Code:</label>
  <%= text_field_tag(:zipcode, nil, required: true) %>

  <label for="country">Country code [IN/US]: </label>
  <%= text_field_tag(:country, nil, required: true) %>
  
  <%= submit_tag("Get Temperature") %>
<% end %>

<div id="error-message"></div>
<div id="cached-message"></div>
<div id="temperature-container" style="display: none;">
  <h2>Temperature in celcius</h2>
  <p id="current-temperature">Current Temperature: <span id="temperature-value"></span></p>
  <p id="min-temperature">Min Temperature: <span id="min-value"></span></p>
  <p id="max-temperature">Max Temperature: <span id="max-value"></span></p>
</div>

<script>
  $(document).on('ajax:complete', function(event) {
    var responseData = event.detail[0].response;
    var response = JSON.parse(responseData);
    $('#error-message, #cached-message').empty();

    if (!response.success) {
        // Display errors
        $('#error-message').html('<div class="alert alert-danger">' + response.error + '</div>');
        $('#temperature-container').hide();
    } else {
        // Display temperature
        var temperature = response.temperature;
        if (temperature === null) {
            var current = "No data found";
            var max = "No data found";
            var min = "No data found";
        } else {
            var current = temperature.current;
            var max = temperature.max;
            var min = temperature.min;
        }
        
        var cached = response.cached;

        $('#temperature-value').text(current);
        $('#min-value').text(min);
        $('#max-value').text(max);

        // Show temperature container
        $('#temperature-container').show();

        // Update cache message
        if (cached) {
            $('#cached-message').html('<p>Result served from cache</p>');
        } 
    }
  });
</script>
